<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="samples.exoguru.materialtabs" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >

            <!-- screenOrientation為固定畫面的方向 -->
            <!-- 參數為 landscape為橫向 portrait為縱向 nosensor為關閉重力感應器 -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".common.Menu.Menu_Settings"
            android:label="設定"
            android:screenOrientation="portrait" />
        <activity
            android:name=".common.Menu.Menu_QRcode"
            android:label="QRcode掃描"
            android:screenOrientation="portrait" />
        <activity
            android:name=".common.Menu.Menu_Settings_Contact"
            android:label="聯絡我們"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Contact" />
        <activity
            android:name=".common.Activities.NewsPageActivity"
            android:label="@string/title_activity_news_page"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".common.Demo.DemoCoupon1"
            android:label="@string/title_activity_demo_coupon1"
            android:screenOrientation="portrait"
            >

        </activity>
        <activity
            android:name=".common.Demo.DemoCoupon2"
            android:label="@string/title_activity_demo_coupon2"
            android:screenOrientation="portrait"
            >

        </activity>
    </application>

</manifest>
